section(data-background="img/bg/school-lunch1.jpg")
  section
    h1.shadowed Bad Things
    aside.notes
      p Of course, if we talked about good things..
  section
    .over-photo
      h3 Things that are bad...
      ul
        li The Pocket Veto™️
        li.fragment “I don't like this design.”
        li.fragment Derision of work
        li.fragment Wild-ass changes
      aside.notes
        ol.shadowed
          li [describe pocket veto.]
          li This statement is utterly unhelpful to everybody. And also, nobody cares. Never say this.
          li Even to somebody who isn't the creator of the work.
          li If you have important changes to suggest after a client meeting, talk to the PM about them. If they decide they're important, sometimes we can go back to the client and say, "Hey, we've come up with this other approach". 
          li If it's determined it's not worth going back to the client, they don't need to be discussed further. You'll get 'em next time, tiger.