// The Driver, an intro
section
  section(data-background="img/bg/babydriver2.jpg"  data-background-transition="slide")
    .fragment
      h1 The Driver
    aside.notes
      p 2017. Ansel Elgort. It's lovely, you should see it if you haven't.

  section(data-background="img/bg/4-drivers-1.jpg" data-background-transition="slide")
    aside.notes
      p A sexy Canadian (Ryan Gosling) who isn't great at acting. (Drive)
  section(data-background="img/bg/4-drivers-2.jpg" data-background-transition="none")
    aside.notes
      p A sexy New Yorker (Ryan Gosling) who would eventually become a parody of himself. (Taxi Driver)
  section(data-background="img/bg/4-drivers-3.jpg" data-background-transition="none")
    aside.notes
      p A sexy weirdo (Adam Driver) who is equally good at crying, looking confused and being shirtless.
  section(data-background="img/bg/4-drivers-4.jpg" data-background-transition="none")
    aside.notes
      p Or a sexy Londoner (Minnie Driver) named Minnie, because yes, women can and should be drivers as well.
  section(data-background="img/bg/4-drivers-2-bright.jpg" data-background-transition="none")
    h2.shadowed Only 1 driver at a time
    aside.notes
      p A driver can look like a lot of things.
      p Ryan Gosling, Robert DiNero, Adam Driver, Minnie Driver

  section
    table.driver-table
      caption
        | Some Examples...
      thead
        tr
          th Phase
          th What are we doing?
          th Driver#[sup]*
      tbody
        tr
          td bizdev
          td Assess client needs, company potential, how much money we talkin' about here anyway?
          td Sales
        tr
          td planning
          td Figure out available resources, potential timeline(s), what deliverables we can provide and when
          td PM
        tr
          td wireframes
          td Explore current site, reorganize components, plan the user journey, maybe say the word "personas" if you feel like being fancy
          td UX
      tfoot
        tr
          td(colspan="3")
            span #[em] * as an example


  section
    table.driver-table
      caption
        | continued...
      thead
        tr
          th Phase
          th What are we doing?
          th Driver#[sup] *
      tbody
        tr
          td visual design
          td Translate strategy into beautiful visual components and document the exepectations of each.
          td Designer
        tr
          td system architecture
          td Spin up a development environment for local developers to use, define content fields and deployment process
          td Engineer
        tr
          td front end development
          td Create frontend markup and corresponding styled components to match with the visual design.
          td FE Dev
      tfoot
        tr
          td(colspan="3")
            span #[em] * just an example, mind you.
    aside.notes
      p The driver is powerful, but...

  section(data-background="img/bg/babydriver1.jpg" data-background-transition="zoom")
    aside.notes
      p By themselves, the driver is useless, a dork.

  section(data-background="img/bg/babydriver3.jpg" data-background-transition="fade")
    aside.notes
      p The Driver needs other people.
      p Ansel Elgort, but also Jon Hamm, Lily James, Eiza Gonzalez, Jamie Foxx
      p Even if one of those people is somebody who, in hindight, you wish was not in this very fun movie.
      p And so, in addition to the driver, you will also have...