section
  section
    h3 What does the navigator do?
    p.fragment (Let's look at examples in the UX stage)

  section
    blockquote
      p In this particular example, do you see an image being required? Or is there a backup thing that happens when an image isn't chosen?
    aside.notes
      p Help identify different states of elements.

  section
    blockquote
      p The client has specifically mentioned a tagging system several times as the way they see content discovery working. Should we be giving more visibility to tags?
    aside.notes
      p Think about what the client has said.

  section
    blockquote
      p You've got two filters shown here. Can they be used together? Are they multiselect?
    aside.notes
      p Think about ways to clarify functionality.

  section
    h3 But also...
    blockquote.fragment
      p Oh wow, I really like this thing right here!
    aside.notes
      p And be encouraging!

section
  section
    h2 @ Visual Design stage...
    aside.notes
      p So UX has gone well, client loves the wireframes, and we're now doing visual design.
      p Maybe there's a different driver.
      p There's ways to help here.

  section
    blockquote
      p At what size should the image and text stop being side-by-side?
    aside.notes
      p Think about =breakpoints.
  section
    blockquote
      p I see a 3 grid at 1024+ and a single column at 400-. Should this be a 2 grid in between?
    aside.notes
      p Think about *all* breakpoints.

  section
    blockquote
      p What are the focus, hover and active states for this button?
    aside.notes
      p Think about states and interactivity.

  section
    blockquote
      p How necessary are these custom form elements? It will add some extra hours to the development to implement them.
    aside.notes
      p Flag possible challenges that could inflate the budget and the timeline. 
      p These can be surprises.

  
  section
    h3 But also...
    aside.notes
      p It's important that all navigation isn't about problems. It should be about opportunity.

  section
    blockquote
      p I was thinking about this navigation element yesterday and I put together this codepen [link]. Is this like what you were thinking?
    aside.notes
      p Think about implementation early.
  
  section
    blockquote
      p You know, we could probably ajax in the content here to prevent a page load at this process... Might make the experience feel better.
    aside.notes
      p Think about improvements.
  
  section
    blockquote
      p I saw something like this a couple weeks ago [link], and they added this wavy animation to the background. Does that align with your design vision?
    aside.notes
      p Think about other methods.

  section
    h3 And of course...
    blockquote.fragment
      p Oh damn, this typography looks 
        em amazing!
    aside.notes
      p Again, be encouraging!