section

  section(data-background="img/bg/handshake.jpg")
    h4 What they had was a bond
    h4 formed in the fires of hell.

  section
    h1 Hi!
    h2.fragment My name is Lemon.
    p.fragment (I make websites.)
    aside.notes
      ul
        li making websites for > 20 years
        li for fun & for freedom
        li love the web platform
        li continues to be interesting
  
  section(data-background="img/bg/savas-cyan-1.png")
    h4(style="color:#221c35; text-shadow:none;") I work at
    .fragment(style="padding-bottom:7vh;")
      img(src="svg/savas-logo-black.svg" alt="Savas Labs" style="max-height:22vh;")

  section(data-background="img/bg/savas-cyan-2.png" data-background-transition="none")
    div(style="color:#221c35; padding-bottom:9vh;")
      h2(style="text-shadow:none; color:#221c35;")
        | Front End
        br
        | Development Director
      .fragment
        ul
          li Mentoring
          li Shepherding
          li Documenting
  
  section
    code PLACEHOLDER: THIS IS ME NOW
    aside.notes
      ul
        li My job is about managing people and code
        li My job is about reasonable expectations
        li But that's not where I started
        li I started in...