section
  section
    h2 The Bad Old Days
    aside.notes
      p I started when things were worse
  
  section
    pre(style="font-size:2.8em;")
      code(style="text-align:center;").
        .PSD → .HTML
    aside.notes
      p My job was to turn a Photoshop file into a working webpage. I had to match pixels exactly.
  
  section
    img(src="img/bg/design-overlay-2.png")
    aside.notes
      p I would take a 960px png and absolute position it over the screen at 50% opacity.

  section
    pre.js(style="font-size:175%; line-height:150%;")
      code.js(style="min-height:6em;padding:1em; ").
        var website = { 
          designer:   "🧠"
          developer:  "🙌"
        }
    aside.notes
      p This created a situation where the designer was the brains of the operation
      p The developer was the pair of hands that enacted the designer's vision.

  section(data-background="img/bg/responsive-design.png")
    aside.notes
      p Responsive design blew all of this up. 320px, 768px, and 1920px
      p And also, the tools were getting better. Didn't have to fake with image slices.

  section(data-background="img/bg/macho-king.jpg")
    aside.notes
      p And good riddance.
      p We took a monarchy

  section(data-background="img/bg/hogan-savage-shaking.jpg")
    aside.notes
      p And had to implement collaboration

  section(data-background="img/bg/hogan-savage-fighting.jpg")
    aside.notes
      p But sometimes that collaboration goes wrong.