section(data-background="img/handshake.jpg")

  section
    h4 What they had was a bond
    h4 formed in the fires of hell.
    
  // Jinjo Crew (Korea)
  //- +videoBG('0Qj-CXguOO8',36) 
  //-   h2 Designers & Developers
  //-   h4 Friends w/ Benefits
  //-   .a-talk-by(style="margin-top:26.5vh;")
  //-     b.white.shadowed
  //-       | (a talk by @AhoyLemon)
  //-   aside.notes
  //-     h2 Jinjo Crew (Korea)
  //-     p 2018

  // Turn Phrase Crew (Japan) vs Extreme Crew (Korea)
  +videoBG('m62SPPh9Nzc',217) 
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Turn Phrase Crew (Japan)
      h2 vs Extreme Crew (Korea)
      p 2007

  // BGIRL TERRA
  +videoBG('5HrrbkYJM2M',15) 
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Jinjo Crew (Korea)
      p 2018

  // WHITE PEOPLE CAN'T DANCE
  +videoBG('nYJyFGvnXrc', 43) 
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Jaja Vankova & Marie Poppins
      h2 vs Madd Chadd & Poppin John
      p 2014
  
  // GAMBLERZ (Korea)
  //- +videoBG('9S9ysER2yjk',40) 
  //-   h2 Designers & Developers
  //-   h4 Friends w/ Benefits
  //-   .a-talk-by(style="margin-top:26.5vh;")
  //-     b.white.shadowed
  //-       | (a talk by @AhoyLemon)
  //-   aside.notes
  //-     h2 Gamblerz (Korea)
  //-     p 2004