section(data-background="img/bg/handshake.jpg")

  section
    h4 What they had was a bond
    h4 formed in the fires of hell.

  // OCTAGON (Sweden) | 2009
  +videoBG('ifAsckAQ2RM', 71)
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 OCTAGON (Sweden)
      p 2007

  // FLYING STEP (Germany) vs SQUADRON (USA) | 2021
  +videoBG('yBdXfKxVpV4', 83)
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // FLOORIORZ (Japan) vs TIE BREAK (France) | 2021
  +videoBG('EQuG0LmYGAo', 173)
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // BGIRL TERRA
  +videoBG('5HrrbkYJM2M',15) 
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Jinjo Crew (Korea)
      p 2018

  // WHITE PEOPLE CAN'T DANCE
  +videoBG('nYJyFGvnXrc', 43) 
    h3 Designers & Developers
    h4 Friends w/ Benefits
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Jaja Vankova & Marie Poppins
      h2 vs Madd Chadd & Poppin John
      p 2014
  
  // GAMBLERZ (Korea)
  //- +videoBG('9S9ysER2yjk',40) 
  //-   h2 Designers & Developers
  //-   h4 Friends w/ Benefits
  //-   .a-talk-by(style="margin-top:26.5vh;")
  //-     b.white.shadowed
  //-       | (a talk by @AhoyLemon)
  //-   aside.notes
  //-     h2 Gamblerz (Korea)
  //-     p 2004