section(data-background="img/bg/handshake.jpg")

  section
    h4 What they had was a bond
    h4 formed in the fires of hell.

  // OCTAGON (Sweden) | 2009
  +introScreen('ifAsckAQ2RM', 71)
    aside.notes
      h2 OCTAGON (Sweden)
      p 2007

  // FLYING STEP (Germany) vs SQUADRON (USA) | 2021
  +introScreen('yBdXfKxVpV4', 83)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // FLOORIORZ (Japan) vs TIE BREAK (France) | 2021
  +introScreen('EQuG0LmYGAo', 173)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // BGIRL TERRA
  +introScreen('5HrrbkYJM2M',15) 
    aside.notes
      h2 Jinjo Crew (Korea)
      p 2018

  // WHITE PEOPLE CAN'T DANCE
  +introScreen('nYJyFGvnXrc', 43) 
    aside.notes
      h2 Jaja Vankova & Marie Poppins
      h2 vs Madd Chadd & Poppin John
      p 2014