section
  section(data-background="img/bg/pain3.jpg")
    .inside(style="margin-right:auto; max-width:420px;")
      h2(style="text-align:left;") This talk #[br] comes from pain.

  aside.notes
    h3 Worked with
    ul
      li Designer whose only experience was print
      li Entire website in Lottie.
      li Built a software platform entirely dependent on Knockout JS
      li Built a mobile app with Adobe PhoneGap.

  section(data-background="img/bg/iphone.jpg")
    aside.notes
      ul
        li I ended up doing a "mobile" design using the browser chrome

  section(data-background="img/bg/angry.jpg")
    .fragment
      h3
        | This is 
        i(style="font-style:italic; padding-right:0.25em;") not
        | how you grow as a person.
        
  section
    h3 So, let's talk about collaboration...