// Navigators
section
  section(data-background="img/bg/navigator2.jpg")
    h1 The Navigator
  section(data-background="img/bg/4-navigators-1.jpg")
    aside.notes
      ul
        li kid from flight of the navigator
  section(data-background="img/bg/4-navigators-2-stockholm.jpg" data-background-transition="none")
    aside.notes
      ul
        li directions from Minneapolis to San Diego
  section(data-background="img/bg/4-navigators-3-stockholm.jpg" data-background-transition="none")
    aside.notes
      ul
        li Buster Keaton in The Navigator
  section(data-background="img/bg/4-navigators-4-stockholm.jpg" data-background-transition="none")
    .fragment
      h2.shadowed There can be multiple navigators.
    
    aside.notes
      p a browser so bad... 
      p But also, The Navigator can be multiple people.

  //section(data-background="img/bg/awful-stock-photo.jpg")
    .over-photo.fragment
      p I apologize for this remarkably crappy stock photo, it was the best one I could find.
    aside.notes
      p The driver and the navigators are going to the same place.
      p The driver is driving, the navigators are helping.
      p They are a team.
      p A concept that I completely undercut with this awful photo.

  section
    h3 And so we have...
    .grid(columns="2")
      figure.fragment
        img(src="img/gif/otto.gif")
        figcaption
          | The Driver
      figure.fragment
        img(src="img/gif/nerds.gif")
        figcaption
          | The Navigators
    aside.notes
      p Weighing in, doing what they can to make the project better.