section(data-background="img/bg/tacos1.jpg")
  section
    h1.shadowed Nice Things
    aside.notes
      p So now that we've looked at relationship, let's talk about nice things.
  section
    .over-photo
      h3 Here's some nice things...
      ul
        li Sketch &amp; share concept or prototype
        li.fragment Share a work in progress
        li.fragment Invite to quick huddle
        li.fragment Compliments in general
    aside.notes
      ol
        li A sketch can help a lot. If you have a rough idea, that could be used for more work later on.
        li Seeing a work in progress is nice. It involves others into the process and gives early indicators of trajectory.
        li If someone has expertise you could use, they'd likely be happy to share that if you're respectful of their time.
        li And also be nice.
      p
        strong ON NICE:
        | Clients will take every opportunity to pick apart a piece of work. They won't spend as much time appreciating stuff. Fill that gap.