section
  section
    h3 Today's Agenda:
    ol.fragment
      li Typical Projects
      li Typical Process
      li Typical Heirarchy
      li Typical Collaboration
      // USD Format
      //-li.fragment Then I'll hand you 
        span $1,000.00
      // German Format
      li.fragment Then I'll hand you 
        span 1.000,00 €
    .fragment
      p ↑ All of this is a lie.
    aside.notes
      p On each bulletpoint, hammer how each thing is absolutely a system.

  section
    h3 There is no typical experience.
    aside.notes
      p Each project looks different, tho we try to make them normalized.
    
  section
    h3 Project Timeline
    h5 (agency model)
    ol.fragment
      li bizdev
      li discovery
      li UX
      li design
      li FE development
      li BE development
      li QA

  section
    h3 Project Timeline
    h5 (software model)
    ol.fragment
      li proposal
      li requirements
      li estimation
      li development
      li design
      li documentation
      li testing

  section
    h3 Project Timeline
    h5 (frequent model)
    ol.fragment
      li ???
      li ???
      li ???
      li ???
      li.fragment realize we're at deadline
      li.fragment PANIC!
      li.fragment launch
    aside.notes
      p Somebody wrote somebody a check.
      p There was this zoom call I was involved in, but I was hungover.
      p A PM was involved before he went on paternity leave.
      p I thnk we have wireframes in the Google Drive, don't remember which folder.
  
  section
    h3 But, regardless
    p A project will have multiple stages, and multiple people.