section
  section
    h2 So, to recap...
  
  section(data-background="img/bg/babydriver5.jpg")
    h3.shadowed Identify your driver.
  
  section(data-background="img/bg/lighthouse.jpg")
    h3.shadowed Empower your navigators.
  
  section(data-background="img/bg/mic-stools.jpg")
    h3.shadowed Have frequent respectful conversations.

  //- section(data-background="img/bg/scaffolding1.jpg")
  //-   h3.shadowed Compliment, support, question.

  section(data-background="img/gif/beerdance.gif")
    h3.shadowed Make cool shit.