section
  section
    h2 What we want to avoid...
  aside.notes
    p There's one thing that we want to avoid and that is...
  section(data-background="img/bg/kim-kanye.jpg")
  aside.notes
    p A bad relationship.
    p Bad collaboration makes for a bad relationship.
    p Bad relationships make bad websites.
    p But also, they make you feel bad.
  section(data-background="img/bg/kim-kanye.jpg" data-background-transition="none")
    div.over-photo
      h4 In a bad relationship:
      table
        tbody
          tr
            td Designer
            td unnecessarily restricted
          tr
            td Developer
            td disrespected
          tr
            td Anyone
            td unheard
    aside.notes
      ul
        li Designer unable to diverge from restrictive, boring template.
        li Developer is a set of hands.
        li Both parties can't communicate what they think or want.
      p Instead we want...

  section(data-background="img/bg/kurt-goldie.jpg")
    .over-photo.fragment
      h4 In a good relationship:
      ul
        li Ask questions
        li Suggest improvements
        li Respect the others' craft
        li.fragment 
          | Say it, hear it, 
          em get over it!
    aside.notes
      p Kurt Russell &amp; Goldie Hawn (together since 1983, never married)
      ul
        li You should feel comfortable asking questions of each other, dig into why certain things are the way they are.
        li You should want to make the project better. What they do, you want to implement &amp; improve upon.
        li And thru it all you should do this while respecting what the other person does.
        li Say the thing, but....
        li Once you've said it, respect the expert of that domain.
  
  section(data-background-video="video/getoverit.mp4" data-background-video-loop)
    aside.notes
      p The THIRD most important thing I want to tell you:
      p When we've heard you, we've heard you. We will consider it, and that's it.
      p Part of respect means believing you can make your case once.
      p You saying the thing out loud does not mean we need to do it your way.