section
  section
    img(src="/img/3109cead-02f5-48df-a017-3425319d20cb.png" style="max-height:55dvh;")
    div
      a(href="https://dub.sh/techorama/collab")
        code https://dub.sh/techorama/collab