// UX != UI
section
  section
    pre.huge
      code.html.
        &lt;aside&gt;
    pre.fragment(style="font-size:3.2em;")
      code(style="text-align:center; color:lime;").
        UX !== UI
    aside.notes
      p Some people consider themselves both UX and UI, which is totally fine.
      p Some people use UX and UI interchangably, which is not fine.
  
  section
    dl(style="margin-bottom:1em;")
      dt UX: User eXperience
      dd How does the user go about doing what they want to do? And how does the user feel while they're doing it?
    dl.fragment(style="width:100%;")
      dt UI: User Interface
      dd What does the thing look like?
    aside.notes
      p So usually, UX comes first. UI is influenced by the UX.
  
  section
    p Or, to put it another way...
    pre.fragment.huge
      code.js
        | const ux = "theory";
    pre.fragment.huge
      code.js
        | const ui = "execution";
    aside.notes
      p The deliverables could look a lot different, depending...

  section
    pre.huge
      code.html.
        &lt;/aside&gt;