section.what-if
  section(data-auto-animate)
    h4(data-id="Lots") There's lots of 
      span(data-id="LotsWhat") money 
      | in
    h2
      span(data-id="Collaboration") Collaboration 
      span(data-id="Tools" style="text-decoration:none") Tools
  section(data-auto-animate)
    h4(data-id="Lots") There's lots of 
      span(data-id="LotsWhat" style="color:yellow") value 
      | in
    h2
      span(data-id="Collaboration" style="color:yellow") Collaboration 
      span(data-id="Tools" style="color:rgba(0,0,0,0.1)") Tools
  section(data-auto-animate)
    h3(data-id="whatif1" class="wi1") What if...
  section(data-auto-animate)
    h3(data-id="whatif1" class="wi1") What if...
    h3(data-id="whatif2" class="wi2") 2 people want to drive?
  section(data-auto-animate)
    h3(data-id="whatif1" class="wi1") What if...
    h3(data-id="whatif2" class="wi2") nobody wants to drive?
  section(data-auto-animate)
    h3(data-id="whatif1" class="wi1") What if...
    h3(data-id="whatif2" class="wi2") we're too busy to talk?
  section(data-auto-animate)
    h3(data-id="whatif1" class="wi1") What if...
    h3(data-id="whatif2" class="wi2") somebody just sucks?