section
  section(data-background="img/bg/wendys.jpg")
    h1(style="font-size:3em;") The Worst Thing
    aside.notes
      p And finally we have the very worst thing there is.
  
  section(data-background="img/bg/wendys.jpg" data-background-transition="none")
    .over-photo
      h3 In a meeting with the client...
      h3
        span.fragment Never 
        span.fragment(style="color:rgba(255,191,191)") ever 
        span.fragment(style="color:rgba(255,128,128)") ever 
        span.fragment(style="color:rgba(255,64,64)") ever 
        span.fragment(style="color:rgba(255,0,0)") ever 
        br
        span.fragment contradict your team.
      aside.notes
        p Never ever ever ever ever!
        p This is the MOST IMPORTANT point.

  section(data-background-video="video/royalfamily_edited_muted.mp4" data-background-video-loop)
    h3.shadowed(style="transform: translateY(-30vh);") Every Client Meeting...
  
  section
    h3 The Client's impression:
    .grid(columns="2")
      blockquote
        p They're a great team.
      blockquote
        p They are experts.
      blockquote
        p They have considered everything.
      blockquote
        p They were all on the same page.
  aside.notes
    p And unlike internal conversations...

  section(data-background-video="video/never-open-your-mouth.mp4")
    //- p.fragment.shadowed(style="transform:translateY(60vh); font-size:90%;") You never open your mouth, 'til you know what the shot is.