- const talkTitle = "Designers vs Developers: Who Is In Control Here"
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      // Video Screens
      include sections/_intros.pug

      // Personal Intro
      include sections/_hello.pug

      // What it used to be like.
      include sections/_history.pug

      // Shitty Things I've Done
      include sections/_mistakes.pug

      // Typical Project Timelines
      include sections/_project-timelines.pug

      section
        section(data-background-image="img/bg/curtains-1.jpg")
          .fragment
            h3 Introducing...

      // The Driver
      include sections/_driver.pug

      // The Navigator
      include sections/_navigator.pug 

      section
        section
          h3 What does the navigator do?
          p.fragment (Let's look at examples in the UX stage)
      
      // aside: UX != UI
      include sections/_ux-ui.pug

      // What does the navigator do?
      include sections/_duties.pug

      // Bad Relationships, Good Relationships, Get Over It.
      include sections/_relationships.pug

      // What if there's problems?
      include sections/_whatif.pug 

      // Nice things
      include sections/_nice-things.pug

      // Bad Things
      include sections/_bad-things.pug

      // The Worst Thing
      include sections/_worst-thing.pug

      // So To Recap
      include sections/_recap.pug

      // EVERYBODY LOVE ME NOW
      include sections/_thank-you.pug

      // TECHORAMA BE FEEDBACK
      include sections/_techorama.pug
  
    include partials/_javascripts.pug


// Possible Additions
// What if multiple people want to drive?
// What if nobody wants to drive?
// What if you're too overworked to have collaborations?
// No tooling can solve this
// What if somebody is a prick?
// What if this all doesn't work?
// What if I'm not getting any assistance?

// VERY BESPOKE input(type="date") or select element