- const talkTitle = "Designers & Developers: Friends w/ Benefits"
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      // Video Screens
      include sections/_intros.pug
      
      // Personal Intro
      include sections/_hello.pug

      include sections/_history.pug

      include sections/_project-timelines.pug

      include sections/_driver.pug

      include sections/_ux-ui.pug

      include sections/_navigator.pug

      include sections/_duties.pug

      include sections/_relationships.pug 

      include sections/_nice-things.pug

      include sections/_bad-things.pug

      include sections/_worst-thing.pug

      include sections/_recap.pug

      include sections/_thank-you.pug
  
    include partials/_javascripts.pug
